/*********************
NAVIGATION STYLES
**********************/

nav ul {
    padding-left: 0;


  li {
    // float:left;
    position:relative;
    z-index:20;

    @media (max-width:$bp3) {
      float:none;
      position:relative;
        &:last-child {
          border-bottom: $borde;
        }
    }

    &.active {
      > a {
        text-decoration: underline;
        font-weight: bolder;
      }
    }
    
    a {
      display:block;
      padding: $link-vertical-padding $link-horizontal-padding;
      
      &:hover {
        background:$color-base-light;
      }

      @media (max-width:$bp3) {
        display:table;
        padding:$paddingbase 2px;
        // border-top:$borde;
        width:100%;
      }
    }
    
    &:hover ul {
      opacity:1;
      max-height:1000px;
      background: white;
      padding:($paddingbase / 2) 0;
      border: $borde;
      
      @media (max-width:$bp3) {
        max-height:0;
        border: none;
        padding: inherit;
      } 
    }
    
    /******************
    SUBNAV
    ******************/
    
    ul {
      list-style:none;
      position:absolute;
      width:200px;
      max-height:0;
      z-index:0;
      opacity:0;
      overflow:hidden;
      
      @media (max-width:$bp3) {
        max-height:0;
        opacity:1;
        width:100%;
        position:relative;
        overflow:hidden;
        @include transition(0.2s);
      }
      
      li {
        float:none;

        @media (max-width:$bp3) {
          &:last-child {
            border-bottom: none;
          }
        }
        
        a {
          display:block;
          padding:$link-vertical-padding/1.5 $link-horizontal-padding/1.5;
          border-right:none;

          @include transition(0.2s);
          
          &:hover {
            @include transition(0.3s);
          }

          @media (max-width:$bp3) {
            padding-left:$paddingbase;
            background:$lightergrey;
          }

        }

      }

    }

  }

}


/***************************
MOBILE NAV STYLES
***************************/
// .mobile {
//   display:none;
//   // padding:$paddingbase ($paddingbase - 5);
//   position:fixed;
//   left: 50%;
//   top: 100px;
//   z-index: 20000;

//   @media (max-width:$bp3) {
//     // display:table;
//       display: block;
//         text-decoration:none;
//         line-height:0;
//   }
// }

// nav {
//   @media (max-width:$bp3) {
//     display: none;
//     position: fixed;
//     z-index: 1000;
//     top: $paddingbase*6;
//     right: 0;
    
//     &.on {
//     max-height:9000px !important;
//     display: block;
//     background-color: $color-base;
//     left: 0;
//       li {
//         max-width: 50%;
//         float: left;
//         width: 100%;
//         // @include padding($paddingbase);
//       }
//     }
//   }
// }

// .mobile {
//       i {
//         float:right;
//         height:50px;
//         width:10%;
//         position:absolute;
//         right:0;
//         top:1px;
//         color: $color-base;
//         @include transition(0.7s);

//         &:hover {
//           cursor:pointer;
//         }
//     }
//   }



/**
*
* .nav--fit extiende a .nav y alarga la navegación
* para que ocupe el 100% de su contenedor

     <ul class="nav nav--fit">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About us</a></li>
      <li><a href="products.html">Products</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="contact.html">Contact us</a></li>
    </ul>
*
*/
.nav--fit{
    display:table;
    width:100%;

    > li{
        display:table-cell;

        > a{
            display:block;
        }
    }
}