//
// Navbars
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.


	.navbar {
		display: none;
		// margin: $gutterwidth 0;
		
		@media screen and (min-width: $bp3){
			display: table-cell;
			vertical-align: middle;
			width: 75%;
			text-transform: uppercase;
		}

		@media screen and (max-width: $bp3) {

			@include opacity(0);

			&.active {
				@include opacity(1);
				// padding-top: $gutterwidth*5;
				display: table;
				position: fixed;
				width: 50%;
				height: 100vh;
				// top: $gutterwidth*3;
				top: 0;
				left: 0;
				background-color: rgba($color-base, 0.95);
				> ul {
					> li {
						height: 10vh; //magia
					}
				}
			}
		}
	}
