/*********************
NAVIGATION STYLES
**********************/
.nav {
  ul {
  }
}


/**
*
* .nav--fit extiende a .nav y alarga la navegación
* para que ocupe el 100% de su contenedor

     <ul class="nav nav--fit">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About us</a></li>
      <li><a href="products.html">Products</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="contact.html">Contact us</a></li>
    </ul>
*
*/
.nav--fit{
    display:table;
    width:100%;

    > li{
        display:table-cell;

        > a{
            display:block;
        }
    }
}