// slider
.jcarousel {
	position: relative;
	overflow: hidden;
	@extend %full-width; //width:100%
	// border: $borde;

	ul {
		width: 20000em;
    	position: relative;
	}

	li {
		float: left;
		height: 100%;
		background-color: #f3f3f3;
		// padding: $paddingbase;
	}
	
	// Responsive-friendly and scale nicely to the parent element
	img {
		display: block;
		max-width: 100%;
		height: auto !important;
	}
}