// slider
.jcarousel {
	position: relative;
	overflow: hidden;
	width: 100%;
	// border: $borde;
	background-color: $color-base-light;

	ul {
		width: 20000em;
    	position: relative;
	}

	li {
		float: left;
		width: $bp3 / 2;
		height: 100%;
		// padding: $paddingbase;
	}

	img {
		// width: 100%;
	}
}