

	// El otro mixin es para galerias
	.galeria__item {
		@include galeria(6);
		min-height: 185px;
		@media (max-width: $bp3) {
			@include galeria(2);
		}
	}

// FORMAS
	.shape-square {
		@include square(200px);
	}
	

// COLORES
	.color-base {
		background-color: $color-base;
		&:before {
			content: "#{$color-base}";
			color: white;
			@extend %display-block;
		}
	}

	.color-base-invert 	{
		background-color: $color-base-invert;
		&::before {
			content: "#{$color-base-invert}";
			color: white;
			@extend %display-block;
		}
	}

	.color-base-light 	{ 
		background-color: $color-base-light;
		&::before {
			content: "#{$color-base-light}";
			color: white;
			@extend %display-block;
		}
	}

	.color-base-lighter { 
		background-color: $color-base-lighter;
		&::before {
			content: "#{$color-base-lighter}";
			color: white;
			@extend %display-block;
		}
	}

	.color-base-lighten { 
		background-color: $color-base-lighten;
		&::before {
			content: "#{$color-base-lighten}";
			color: white;
			@extend %display-block;
		}
	}

	.color-base-dark 	{ 
		background-color: $color-base-dark;	
		&::before {
			content: "#{$color-base-dark}";
			color: white;
			@extend %display-block;
		}
	}

	.color-base-darken { 
		background-color: $color-base-darken;
		&::before {
			content: "#{$color-base-darken}";
			color: white;
			@extend %display-block;
		}

	}

	.color-base-darker { 
		background-color: $color-base-darker;
		&::before {
			content: "#{$color-base-darker}";
			color: white;
			@extend %display-block;
		}

	}
