/*------------------------------------*\
    $SITIO 
\*------------------------------------*/

// Header responsive
.header-encogido {
	// background-color: $lightergrey;
	background-color: $color-dos;
	img {
		// float: left;
		height: 35px;
	}

	@media (max-width: $bp3) {
			.logo-img {
				display: none;
			}
			.logo-slogan {
				float: left;
			}
			height: 75px;
			ul {
				background-color: red;
			}
			.brand {
				margin-bottom: 20px;
			}
		}
}
.putfixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.brand {
	h1 {
		@extend %hidden;
	}
	img {
		margin: $paddingbase 0;
	}
	@extend %clearfix;

}

@media (min-width: $bp3) {
	ul.menuprincipal {
		margin-top: $paddingbase;
		display:table;
		// border-top: $borde;
		// border-bottom: $borde;
		width: 100%;
		// height: 50px;
			> li {
				display: table-cell;
				float: none;
			}
	}
}

.home {
	main {
		height: 100%;
		object {
			height: 80%;
		}
	}
}

body {
	font-family: $basefont;
	// color: $color-base;
}


ul {
	list-style: none;
}
// .jcarousel, .sidebar, .banner {
// 	ul {
// 		list-style: none;
// 	}
// }
.sidebar {
	float: right;
	@include max-width (25%);
	@extend %text-center;
	@include padding();
	@media (max-width: $bp3) { //padding horizontal en resoluciones decrecientes
  		// @include max-width (100%);
  		display: none;
  	}
}
.footer {
	@extend %text-center;
	@include padding-bottom();
}

// galleries
ul {
	&.gallery {
		line-height : $baselineheight / 1.7;
		@extend %text-center;
		list-style: none;
		@include padding(0);
		li {
			@include rejilla(3);
			@include padding(4%);
			@media (max-width: $bp3) {
				@include rejilla(1);
			}
			a {
				@extend %clearfix;
			}
			img {
				padding-bottom: $paddingbase / 1.5;
				@include vendor( border-radius, 90px);
			}
			height: 250px;
		}
	}
}

// GRID
.box--1 {
	@include rejilla(1);
	@include padding-bottom();
} // 1 columna

.box--2 { @include rejilla(2); 
	@media (max-width: $bp3) {
	  	@include rejilla(1);
	}
} // 2 columnas

.box--3 { @include rejilla(3); 
	@media (max-width: $bp3) {
  		@include rejilla(1);
  	}
} // 3 columnas

.box--4 { @include rejilla(4); } // 4 columnas
.box--6 { @include rejilla(6); } // 6 columnas

	.banner {
		// @include padding(0);
		// @include margin-bottom($paddingbase * 2);
		//margin-top: 25px;
		@extend %text-center;
		@media (max-width: $bp3) { 
  		// @include max-width (100%);
			&.putfixed {
				position: static;
			}

  		}
	}

p {
	margin-bottom: $baselineheight / 3;
}

.responsive-menu-btn {
	display: none;
	@media (max-width: $bp3) {
		display: block;
	}
}


// jcarousel
.jcarousel {
	position: relative;
	overflow: hidden;
	width: 100%;
	// border: $borde;

	ul {
		width: 20000em;
    		position: relative;
	}

	li {
		float: left;
		width: 300px;
		height: 100%;
		padding: $paddingbase;
	}
}

.wpcf7 {
	float: left;
}
.child-pages li {
	a {
		background-color: $color-base-invert;
		padding: $paddingbase * 2;
		float: left;
		margin: 0 1px 1px 0;
	}
	&:hover {
		background-color: $color-base;
	}
}
.content-info {
	@include padding($paddingbase * 2);
	background-image: url(#{$image-path}/bg.jpg);
	background-size: contain;
	background-repeat: repeat-x;
	background-attachment:fixed;
	background-position: 0 bottom;
}