body {
	font-family: $basefont;
	line-height: $baselineheight;
	color: $textcolor;
	padding-top: $baselineheight*2.4;
	// @include background-image(bg,cover,jpg);
	background-color: $color-base;
	@media screen and (min-width: $bp3) {
		padding-top: 0;
	}
}

// Content wrapper
.wrap { 
	@include max-width ($bp1);
	// @include padding-bottom();
	// background-color: $white;
	.main {
		// @extend %flexbox;
		// @include flex-direction(column);
		// @include justify-content(space-between);
		@include margin-bottom($gutterwidth*2);
		.page-header {
			padding-top: $gutterwidth*2; 
			padding-bottom: $gutterwidth; 
			color: $white;
			@extend %clearfix;
			text-transform: uppercase;
			// @include animation(load-in-slow, initial, 3s, ease-in, 1);
			
			@media screen and (min-width: $bp3) {
				font-size: 3rem;
				@include max-width($bp3);
			}

		}


		.layout-contenido-estrecho {
			ul {
				&.gallery {
					margin-bottom: 0;
				}
				@extend %no-padding;
			}
			.parrafo {
				// max-width: 90%;
				// background-color: $color-base;
				padding: $gutterwidth*2;
				display: table;
				width: 100%;
			}
			@media screen and (min-width: $bp3) {
				display: table;
				// border-spacing: 5px;
				ul {
					&.gallery {
						display: table-cell;
						// background-color: $color-base;
						// width: 73%;
						// padding-left: 0;
					}
				}
				.parrafo{
					width: 50%;
					display: table-cell;
					vertical-align: top;
				}
			}
		}
	}
}


.layout-content {
	// background-color: rgba(255,255,255,1);
	// box-shadow: 0 10px 10px $black;
	// padding: $gutterwidth;
	@extend %text-center;
	h2 {
		max-width: 95%;
		margin-left: $gutterwidth;
		@media screen and (min-width: $bp3) {
			max-width: 75%;
			margin-left: 12%;
		}
	}
	img {
		clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
	}
	p {
		margin-left: $gutterwidth;
		max-width: 93%;
		// margin-left: 10%;
		@media screen and (min-width: $bp3) {
			margin-left: 10%;
			font-size: 150%;
			max-width: 80%;
		}
	}
	// text-shadow : 0 0 20px $black;
}

.parrafo__btn {
	display: table;
	@extend %text-center;
	@extend %full-width;
		a {
			// display: table-row;
			@media screen and (min-width: $bp3) {
				margin-right: $gutterwidth;
			}
		}
		a:first-child {
			margin-bottom: $gutterwidth*2;
			@media screen and (min-width: $bp3) {
				margin-bottom: 0;
			}
		}
}


.absolute-wrap {
	position: relative;
	a {
		&:hover{
			text-decoration: none;
		}
	}
}


.datos-seguridad {
	right: 50px;
	top: 300px;
}


.formulario {
	display: table;
	@extend %padding-horizontal;
}

.formulario__contacto {
	// width: 25%;
	// background-color: #f3f3f3;
	display: table-cell;
	padding-left: $gutterwidth;
}
// WPCF7
.wpcf7 {
	// background-color: #d3d3d3;
	display: table-cell;	
	width: 75%;
	@media screen and (max-width: $bp3) {
		display: table-row;
	}
}
// Mappress
.mapp-iw {
	color: $black;
}
// Vegas
.nav-arrows {
	@media all and (max-width: $bp3) {
		display: none;
	}
}
//oculta sello en contacto
.page-template-template-contacto-php .sello { display: none; }

// Animaciones
@include keyframe(load-in-slow) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
