body {
	font-family: $basefont;
	line-height: $baselineheight;
	color: $textcolor;
	// background-color: $background;
	letter-spacing: $baseletterspacing;
	// background: url(../img/bg.jpg) repeat-x 0 bottom fixed;
	// background-position: fixed;
	padding-top: $baselineheight*3;
}

// Content wrapper
.wrap { 
	@include max-width ($bp1);
	// @extend %clearfix;
	display: flex;
	flex-wrap: wrap; //si no cabe algo baja a la siguiente fila
	justify-content: space-around; //between,
	// align-items: stretch; //ajusta todo lo alto
	// background-color: red;

	.main {
		display: flex;
		flex-direction: column; //row,column,column-reverse,row-reverse... se comportan como columnas
		// flex-flow: row wrap;
		justify-content: space-around; //between,

		// @include max-width($bp3);
		.page-header {
			// flex-wrap: center;
			// @extend %text-right;
			// padding-right: $gutterwidth;
			// background-color: blue;
			@include padding-vertical(); 
		}
		h1 {
				color: $color-base;
				// @extend %inline-block;
				@extend %clearfix;
				// @include margin-bottom();
				// @include max-width ($bp2);
				@include animation(load-in-slow, initial, 3s, ease-in, 1);

				@media (min-width: $bp3) {
					// font-size: 300%;
				}
				@media (min-width: $bp2) {
					// font-size: 550%;
				}
			}

		.layout-contenido-estrecho {
			
			display: flex;
			// flex-grow: 2;
			justify-content: space-between; //between,
			ul {
				&.gallery {
					width: 73%;
					padding-left: 0;
					// align-self: center;
				}
			}
			.parrafo{
				width: 25%;
				padding-right: $gutterwidth;
			}
		}
			
		.image-banner {
			// background-color: yellow;
		}
		h2 {
			// @include padding($gutterwidth*2);
		}
	}
}

section {
	@extend %clearfix;
	@include padding-vertical();

	.row {
		@extend %text-center;
		p, blockquote {
			@extend %text-left;
		}
	}
}




// Modulos
.layout-contenido-estrecho {
	h1 {
		@extend %text-right;
	}
	.gallery {
		@media (min-width: $bp3) {
			li {
				padding: 0;
				margin: 0;
				background-color: $color-base;
				width: 100%;
			}
			figure, img {
				margin-bottom: 0;
			}
		}
	}
}
.muestras {
		@include background-image(bg,cover);
		width: 100%;
		height: 150px;	
	}
	.add {
		@include background-image(add_maderlim,cover);
		width: 100%;
		height: 150px;
	}
	
.gallery {
	@media (min-width: $bp3) {
		li {
		}
	}
}
.bg1, .bg2 {
	background-color: $color-base;
}
.bg1 {
	// @include background-image(bg,cover);
}
.bg2 {
	// background-position: center top;
}



// Contact Form 7
.wpcf7 {
	float: left;
}

// GRID
	
	.row {
		width: 100%;
		@include margin-bottom($gutterwidth);
		float: left;
	}

	.col__1 {
		@include grid(1);
		@include break(tablet, 12);
	}
	.col__2 {
		@include grid(2);
		@include break(tablet, 12);
	}

	.col__3 {
		@include grid(3);
		@include break(tablet, 12);
	}

	.col__4 {
		@include grid(4);
		@include break(tablet, 12);
	}

	.col__6 {
		@include grid(6);
		@include break(tablet, 12);
	}

	.col__12 {
		@include grid(12);
		@include break(tablet, 12);
	}

// Animaciones
@include keyframe(load-in-slow) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
