header {
	&.banner {
		@include max-width($bp1);
		z-index: 9000;
		// position: fixed;
		// top: 0;
		// background-color: $white-alpha;
		.logo {
			@include grid(4);
		}
		.slogan {
			@include grid(4);
		}
		.sello {
			@include grid(4);
			p {
				border: $borde;
				@include padding();
				max-width: 175px;
				text-transform: uppercase;
				color: $bordercolor;
			}
		}
		@media (min-width: $bp1) {
			// right: 0;
			// left: 0;
		}
		height: 150px;
	}

	h1 {}
}

