		.nav {
			ul {
				display: flex;
		    	flex-wrap: wrap;
		    	// width: 100%;
				// position: fixed;
				// z-index: 9001;
				// background-color: $color-base;
		  	}
		  
			li {
			  	padding: 0 20px;
			}
			  
			a {
				// display: flex;
	    		// align-items: flex-end;
	    		// max-width: 100px;
			}

		}

header {
	
	&.banner {
		.logo{
			.logo-img {
			// @include padding-vertical($gutterwidth*2);
			}
		}
		
		display: flex;
		justify-content: space-around; //between,
		// flex-direction: column; //row,column,column-reverse,row-reverse... se comportan como columnas
		// flex-wrap: wrap;
		// align-items: stretch;
		@include max-width($bp1);
		@include padding-vertical();
		z-index: 9000;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		background-color: $white;
		// background-color: $white-alpha;
		
		@media (min-width: $bp1) {
			// right: 0;
			// left: 0;
		}
		.sello {
			position: fixed;
			top: $paddingbase*16;
			left: $gutterwidth;
			p {
				border: $borde;
				@include padding();
				min-width: 300px;
				text-transform: uppercase;
				color: $white;
				background-color: $bordercolor;
			}
		}
		// height: 150px;
	}

}

