
// home
.home {
	.wrap {
		// padding-top: 150px;
	}
	.main {
		h1:first-child {
			padding-top: 0;
			margin-top: 0;
		}
	}
	.features {
    @extend %background-color;
    float: left;
    width: 100%;
	    .row {
	      @include max-width($bp1);
	      @extend %text-center;
	    }
	}
	.cover {
		background: url(../img/t0theme-10.jpg) no-repeat 0px top $darkgrey;
		background-size: cover;
		height: 500px;
		// @extend %inline-block;
			@media (min-width: $bp2) {
				height: 100%;
			}
			@media (min-width: $bp1) {
				height: 100%;
			}
		
		.banner {
			background-color: transparent;
			.brand {
				a {
					color: $color-base;
				}
			}
		}
	}
}