.h-entry header { }
.h-entry time { }
.h-entry .byline { }
.h-entry .entry-content { }
.h-entry { 
	.col__6 {
		height: 340px;
	}
}
.byline {
	margin-bottom: $paddingbase;
}
.h-entry footer { }
body {
	&.category {
		article {
			margin-bottom: $paddingbase;
		}
	}
}