.h-entry header { }
.h-entry time { }
.h-entry .byline { }
.h-entry .entry-content { }
.h-entry { 
	.col__6 {
		height: 340px;
	}
}
.published, .byline {
	// margin-bottom: $paddingbase;
	// float: left;
}
.h-entry footer { }
.post {
	border-bottom: $borde;
	&:last-child {
		border-bottom: none;
	}
}