
.sidebar {
	
	background-color: #f3f3f3;
	// @extend %flexbox;
	// @include justify-content(space-around);
	width: 100%;

	figure {
		> a {
			float: left;
			@extend %clearfix;
		}
		figcaption {
			float: right;
			width: 80%;
		}
	}
}